/**
 * Global variables and imports for your project.
 */

// Colors:
$black: #000000;
$white: #FFFFFF;

// Fonts:
$base-font-size: 16px;

// Breakpoints:
$break-small: max-width 480px;
$break-medium: max-width 768px;
$break-large: max-width 980px;

//Breakpoint responsive (using max-width)
$mobile-portrait: 480px;
$mobile: 567px;
$mobile-landscape: 600px;
$tablet: 767px;
$tablet-portait: 1024px;
$container: 991px;
$page-wrapper: 1200px;
